<H3> Explore and cluster the neighborhoods in Toronto </H3>

<h5>First Step: 
    
<br>Web Scraping (extracting table from wikipedia) and clean data</h5>

In [75]:
import requests
# import the BeautifulSoup library so we can parse HTML and XML documents
from bs4 import BeautifulSoup
# get the table from following wikipedia link
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
# parse the HTML from our URL into the BeautifulSoup parse tree format
wiki = BeautifulSoup(website_url,'lxml')
# get the table that we need 
My_table = wiki.find('table',{'class':'wikitable sortable'})

In [53]:
#  get each cells' text from table without /n 
A=[]
B=[]
C=[]
for row in My_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].get_text(strip=True))
        B.append(cells[1].get_text(strip=True))
        C.append(cells[2].get_text(strip=True))

In [76]:
# save A,B and C in new dataframe with header
import pandas as pd
toronto=pd.DataFrame()
toronto['PostalCode']=A
toronto['Borough']=B
toronto['Neighbourhood']=C
toronto

,PostalCode,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [78]:
# Ignore cells with a borough that is Not assigned
toronto=toronto[toronto['Borough'] != 'Not assigned']
toronto.shape

(103, 3)